body{
    background-color: #f2f3f5;
    font-family: 'Varela Round';
}
nav{
    background-color: white;
   
    color: gray;
    margin-top: 20px;
}
nav li{
  
    width: 80px;
}
nav li a:hover:not(.active){
    
    color: black;
}
.active {
    
    color:#0563bb;
    font-weight: bold;
}
nav li a{
    display: block;
    text-align: center;
}
.row > div {

    margin: 10px;
  }
  h1{
    text-align: center;
    font-size: 40px;
  }
  h2{
    text-align: center;
    font-size: 20px;
    color: #0563bb;
  }
  hr
{
    border: #0563bb 1px solid;
}
p{
    text-align: center;
}
textarea {

    width: 100%;
}
button a{
    text-decoration: none;
    color: white;
}
button a:hover{
    color: white;
}
button{
    background-color: #0563bb;
}